# ============================================
# MDK-ARM 编译产物
# ============================================
*.o
*.d
*.obj
*.elf
*.hex
*.bin
*.axf
*.map
*.lst
*.sct
*.crf
*.htm
*.dep
*.plg
*.build_log.htm
*.iex
*.ll

# ============================================
# Keil 中间目录
# ============================================
**/Objects/
**/Listings/
**/RTE/
**/Debug/
**/Release/

# ============================================
# Keil 用户配置（每个人电脑不同，必须忽略）
# ============================================
*.uvoptx
*.uvguix.*
*.uvopt
*.uvguix
*.uvprojx.user

# ============================================
# CubeIDE 相关（必须加，否则你用CubeIDE会乱传）
# ============================================
**/.cproject
**/.project
**/.settings/
**/.metadata/
**/*.launch
**/Debug_*/
**/Release_*/

# ============================================
# 临时文件 & 日志
# ============================================
*.log
*.tmp
*.bak
*~

# ============================================
# 系统垃圾
# ============================================
.DS_Store
Thumbs.db
